<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
   {% if user.is_authenticated %}

      What chat room would you like to enter?<br>
      <input id="room-name-input" type="text" size="100"><br>
      <input id="room-name-submit" type="button" value="Enter">

      <script>
          document.querySelector('#room-name-input').focus();
          document.querySelector('#room-name-input').onkeyup = function(e) {
              if (e.keyCode === 13) {  // enter, return
                  document.querySelector('#room-name-submit').click();
              }
          };

          document.querySelector('#room-name-submit').onclick = function(e) {
              var roomName = document.querySelector('#room-name-input').value;
              window.location.pathname = '/chat/' + roomName + '/';
          };
      </script>
      <br>

      You are logged in as {{ user.username }}
      <p><a href="http://127.0.0.1:8000/accounts/logout/">logout</a></p>
   {% else %}
      <p>You need to be logged in to select a lobby</p>
      <a href="http://127.0.0.1:8000/accounts/login">login</a>
    {% endif %}
</body>
</html>
