
#topsection {
    margin-top: 0;
    display: flex;
    position: fixed;
    min-height: 20px;
    background-color: black;
    background-size: cover;
    min-width: 100%;
    background:  url("theHuntLogo.png") no-repeat left;
    background-color: black;
    
}

body { margin:0; }

.hunterOrHunted { 
    background:  url("theme1.jpg") no-repeat center center fixed ;
    background-size: cover;
    min-height: 90vh;  
    overflow: hidden;
}

.Friends{  
    background:  url("theme2.png") no-repeat center center fixed ;
    background-size: cover; 
    min-height: 100vh;
    overflow: hidden;  
   
}
.Besta {  
    background:  url("theme3.jpg") no-repeat center center fixed ;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}




ul {
  list-style-type: none;
}



h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-left: 50vh;
}

h3,h2 {
    color: orange;
    font-size: 40px;
    margin-top: 40vh;
    margin-left: 5vh;
}
p {
    color : blanchedalmond;
    font-size: 25px;
    margin-left: 5vh;
    
}
.intro {
    margin-left: 15vh;
    color : blue;
    font-size: 22px;
}
.nom {
    margin-left: 15vh;
    color : blanchedalmond;
    font-size: 22px;
}

