body
{
    background:  url("theme1.jpg") no-repeat center center fixed ;
    background-size: cover;
    min-height: 90vh;  
    overflow: auto;
    text-align: center;
    
}

textarea{
    opacity: 0.4;
}

#chat-message-input {
    opacity: 0.5;
}

#hunter-button{
    margin-right: 3em;
}
p {
    text-align: center;
    color:black;
    font-size: 20px;
}
#choix {
    display: flex;
    position: relative;
    margin-left: 32vw;
}
#Huer{
    margin-left: -3em;
}
#Hued{
    margin-left: -2em;
}